<tr>
  <td>
    <% if truck.menu %>
      <a href="<%= truck.menu %>"><%= truck.name %></a>
    <% else %>
      <%= truck.name %>
    <% end %>
  </td>

  <td>
    <% if truck.twitter_link %>
      <a href="<%= truck.twitter_link %>">
        <i class="icon-twitter-bird"></i>
      </a>
    <% elsif truck.facebook_link %>
      <a href="<%= truck.facebook_link %>">
        <i class="icon-facebook"></i>
      </a>
    <% end %>
  </td>

  <td>
    <%= truck.pretty_location %>
  </td>
</tr>
