<tr>
  <td>
    <% if truck.data[:menu] %>
      <a href="<%= truck.data[:menu] %>"><%= truck.name %></a>
    <% else %>
      <%= truck.name %>
    <% end %>
  </td>

  <td>
    <% if truck.data[:twitter] %>
      <a href="https://twitter.com/<%= truck.data[:twitter]%>">
        <i class="icon-twitter-bird"></i>
      </a>
    <% end %>
  </td>

  <td>
    <%= truck.pretty_location %>
  </td>
</tr>
