<tr>
  <td>
    <% if truck.data[:menu] %>
      <a href="<%= truck.data[:menu] %>"><%= truck.name %></a>
    <% else %>
      <%= truck.name %>
    <% end %>
  </td>

  <td>
    <% if truck.data[:social] %>
      <% if truck.data[:social].start_with?("http") %>
        <a href="<%= truck.data[:social]%>">
      <% else %>
        <a href="https://twitter.com/<%= truck.data[:social]%>">
      <% end %>
          <i class="icon-twitter-bird"></i>
        </a>
    <% end %>
  </td>

  <td>
    <%= truck.humanized_location %>
  </td>
</tr>
