<tr>
  <td>
    <% if truck.menu %>
      <a href="<%= truck.menu %>"><%= truck.name %></a>
    <% else %>
      <%= truck.name %>
    <% end %>
  </td>

  <td>
    <% if truck.twitter %>
      <a href="https://twitter.com/<%= truck.twitter %>">
        <i class="icon-twitter-bird"></i>
      </a>
    <% end %>
  </td>

  <td>
    <%= truck.pretty_location %>
  </td>
</tr>
